
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.pyc
*.pyo
*.bak
*.swp
*.swo
*secret.*
*secret.
secrets.sh
env
env/

*.jpg
*.gif
*.png
*.svg
*.ico
*.wmv
*.mpg
*.mpeg
*.mp4
*.mov
*.flv
*.avi
*.ogv
*.ogg
*.webm
*.wav
*.mp3
*.wma

