body {
  background-color: #eff7e1;
  text-align: center;
  font-family: "Merriweather", serif;
  margin-bottom: 50px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  width: 5%;
  border-width: 5px;
}

#name {
  font-family: "Sacramento", cursive;
  font-size: 100px;
  color: #f58634;
  text-align: center;
  margin-top: 100px;
}

p {
  text-align: center;
}

.navbar-brand {
  font-family: "Cutive Mono";
}

.nav-link {
  font-family: "Cutive Mono";
}

.rounded {
  width: 3%;
  text-align: center;
}

/* h1 {
  color: #214151;
  font-size: 20%;
} */

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #83a95c;
  text-emphasis: italic;
}

h3 {
  color: #5eaaa8;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.top-container {
  background-color: #eff7e1;
}

#profile-pic {
  width: 120%;
  height: 40%;
  background-size: contain;
}

.project-pic {
  width: 150%;
  height: 50%;
  background-size: contain;
}

.current-project {
  width: 15%;
  height: 15%;
  background-size: contain;
}

.skills-pic {
  width: 15%;
  height: 15%;
  background-size: contain;
}

.contact-pic {
  text-align: center;
  width: 15%;
  height: 15%;
  background-size: contain;
}

#footer-freepik {
  font-size: small;
}

#copyright {
  font-size: small;
}
